# OS Files
.DS_Store

# Package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Build directories
dist
.webpack

# Test & Coverage directories
coverage
temp

# Editors config directories
.vscode